@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap');
body{
    font-family: 'Eb Garamond', sans-serif;
    font-weight: 200;
    font-size: 1rem;
}

.banner{
    height: 50vh;
    background: url('../img/2op.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
}
/* `sm` estilo para telas com resolução (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

 }

/* `md` estilo para telas com resolução (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

 }

/* `lg` estilo para telas com resolução (tablets, less than 992px)*/
@media (max-width: 991.98px) { 

 }

/* `xl` estilo para telas com resolução (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 

 }

/* `xxl` estilo para telas com resolução (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {

 }
 .perfil{
    border-radius: 70%; /* borda da foto*/
height: 50vh;
margin-left: 10%;
 }